* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    overflow: hidden;
}

.buttons {
    /* border: 1px solid red; */
    position: absolute;
    top: 30%;
    left: 0;
    width: 100vw;
    text-align: center;
}

#canvas1 {
    /* background: blue; */
    background: black;
    filter: blur(10px) contrast(5);
}

.button {
    position: relative;
    width: 25%;
    height: 120px;
    margin: 10px;
    display: inline-block;
    border-radius: 50px;
    border: 5px solid white;
    background: transparent;
    transition: 0.5s;
    font-size: 50px;
    font-weight: 900;
    color: white;
    line-height: 110px;
    min-width: 270px;
    
    &::before {
        content: "";
        /* background: red; */
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 50px;
        transition: 0.5s;

    }

    &:nth-child(1)::before {
        content: "HOME";
    }

    &:nth-child(2)::before {
        content: "SHOP";
    }

    &:nth-child(3)::before {
        content: "ABOUT";
    }

    &:hover::before {
        color: yellow;
        box-shadow: inset 10px 10px 15px orange, inset -10px -10px 15px orange, inset -10px 10px 15px orange, inset 10px -10px 15px orange;
        background: yellow;
        text-shadow: 5px 5px 5px orange, -5px -5px 5px orange, -5px 5px 5px orange, 5px -5px 5px orange;
    }

    &:hover {
        color: yellow;
        box-shadow: 10px 10px 15px orange, -10px -10px 15px orange, -10px 10px 15px orange, 10px -10px 15px orange;
        /* border: 5px solid orange;
        background: orange; */
    }
}